.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 32px; /* Adds padding on the left and right */
}

.navbar img {
  height: 34px;
  width: 64px;
  margin-top: calc((74px - 34px) / 2); /* Centering logo with navbar */
  display: block;
}
